{% extends "layout.html" %}

{% block title %}
    Log In / Register
{% endblock %}

{% block main %}
<div>
    <div class="container custom-container mx-auto border shadow-lg p-3 my-5 bg-body-tertiary rounded bg-white">
        <ul class="nav nav-tabs mt-2 mb-3" id="myTab" role="tablist">
            <li class="nav-item col" role="presentation">
            <button class="nav-link active custom-button" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">Login</button>
            </li>
            <li class="nav-item col" role="presentation">
            <button class="nav-link custom-button" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Register</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-2" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
                <form class="mb-3"action="/login" method="post" >
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
        </div>
            <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
                <form class="mb-3" action="/register" method="post">

                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="surname" name="surname" placeholder="Surname" type="text">
                    </div>

                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm your password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
