{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <input class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        <button class="btn btn-primary" type="submit">Check</button>
    </form>
    <h2>Favorites</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Symbol</th>
            <th>Remove From Favourites</th>
        </tr>
        {% for row in table %}
        <tr>
            <td>{{ row["stock_symbol"] }}</td>
            <td>{{ row["price"] | usd }}</td>
            <td>{{ row["stock_symbol"] }}</td>
            <td>
                <form action="/rmm" method="post">
                    <input type="hidden" name="symbol" value="{{ row['stock_symbol'] }}">
                    <button class="btn btn-primary" type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}